coverage[toml] == 7.*
coverage-conditional-plugin == 0.9.0
pytest == 7.4.*
pytest-cov == 6.1.*
pytest-timeout == 2.4.*
pytest-xdist == 3.6.*
black == 25.*
ruff == 0.11.*
mypy == 1.15.*
psutil == 7.0.*
types-PyYAML ~= 6.0
